html { 
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.main-body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  color: var(--main-font-color);
}

/* Login CSS */
/*Import Roboto Font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*html, body { margin: 0 !important; padding: 0 !important}*/

.login-page {
  width: 360px;
  padding: 9% 0 0;
  font-family: "Roboto", sans-serif;
  margin: auto;
}

.title {
    padding-bottom: 10px;
}

.form {
  position: relative;
  z-index: 1;
  background: var(--login-form-bg);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-top: 10px;
  text-align: center;
  color: var(--main-font-color);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: var(--login-form-text-bg);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--form-button);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-button:hover,.form-button:active,.form-button:focus {
  background: var(--form-button);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #016fff;
  text-decoration: none;
}
.form .message a:hover {
    cursor: pointer;
}

.formchange-button {
  font-family: "Roboto", sans-serif;
  color: #016fff;
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.formchange-button:hover,
.formchange-button:focus {
  cursor: pointer;
}
/*
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
*/
.registered {
  color: rgb(46, 182, 4);
}

.failed {
  color: red;
}

/* Grade Upload */
.menu_btn_upload {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:white;
  text-decoration: none;
  width: 100%;
  border: 2px solid #43b1fa;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.menu_btn_upload:hover,.menu_btn_upload:active,.menu_btn_upload:focus {
  background:#0698fa;
  color: #FFFFFF;
}

.login-body {
  margin: 0;
  background: #d9f0ff; /* fallback for old browsers */
  background: var(--login-bg-fallback); /* fallback for old browsers */
  background: var(--login-bg-webkit); /* Webkit */
  background: var(--login-bg-moz); /* Mozilla */
  background: var(--login-bg-o); /* Opera? */
  background: var(--login-bg-lg); /* Everthing else */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/* Login Body Color Scheme */

.login-body {
  --login-bg-webkit: -webkit-linear-gradient(right, #d9f0ff, #9ed8ff);
  --login-bg-moz: -moz-linear-gradient(right, #d9f0ff, #9ed8ff);
  --login-bg-o: -o-linear-gradient(right, #d9f0ff, #9ed8ff);
  --login-bg-lg: linear-gradient(to left, #d9f0ff, #9ed8ff);
  --login-bg-fallback: #d9f0ff;
}

.form {
  --login-form-bg: #FFFFFF;
}

.form input {
  --login-form-text-bg: #f2f2f2;
}

.form-button {
  --form-button: #43b1fa;
}

.login-body[data-theme="dark"] {
  --login-bg-webkit: -webkit-linear-gradient(right, #0072bd, #005188);
  --login-bg-moz: -moz-linear-gradient(right, #0072bd, #005188);
  --login-bg-o: -o-linear-gradient(right, #0072bd, #005188);
  --login-bg-lg: linear-gradient(to left, #0072bd, #005188);
  --login-bg-fallback: #d9f0ff;
}

[data-theme="dark"] .form {
  --login-form-bg: #404040;
}

[data-theme="dark"] .form input {
  --login-form-text-bg: #626262;
  color: white;
}

[data-theme="dark"] .form-button {
  --form-button: #0571b9;
}


/*
@media (prefers-color-scheme: dark) {
  .login-body {
    --login-bg-webkit: -webkit-linear-gradient(right, #0072bd, #005188);
    --login-bg-moz: -moz-linear-gradient(right, #0072bd, #005188);
    --login-bg-o: -o-linear-gradient(right, #0072bd, #005188);
    --login-bg-lg: linear-gradient(to left, #0072bd, #005188);
    --login-bg-fallback: #d9f0ff;
  }

  .form {
    --login-form-bg: #404040;
  }

  .form input {
    --login-form-text-bg: #626262;
    color: white;
  }

  .form-button {
    --form-button: #0571b9;
  }
}
*/

/*html, body { margin: 0 !important; padding: 0 !important}*/

/** index.html (Home) **/

/* Navigation Bar */
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.topnav {float: none;}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgba(0,0,0,0.2);
}


.user, .logout {
  float: right !important; 
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

.user:hover {
  background-color: #333 !important;
  cursor: default;
}

.user-p {
  background-color: transparent;
  color: #4bb1f5 !important;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.link-button:hover, .link-button:focus {
  background-color: rgba(0,0,0,0.2);
  text-decoration: none;
}

.topnav a.active {background-color: #4bb1f5;}

.topnav button.active {
  background-color: #4bb1f5;
  float: left;
  padding: 16px 12px;
}

.topnav a.active:hover {background-color: #0698fa;}


@media screen and (max-width: 600px) {
  .topnav .right, 
  .topnav {float: none;}
}

#menu {
  text-align: center;
  background-color:rgba(66, 66, 66, 0.2);
  border: 2px double black;
  border-radius: 10px;
  padding: 100px;
  padding-top: 50px;
  margin: 0 auto;
  margin-top: 20%;
  width: 50%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .dropdown {
  padding-top: 60px;
}
/* -------------------------- */

/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 22px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  z-index: 10;
  display: none;
  position: fixed;
  background-color: var(--main-bg);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 58.4px;
}

.dropdown-content a {
  float: none;
  color: var(--dropdown-font-color);
  padding: 20px 22px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--dropdown-hover-bg);
}

.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content, .dropdown:focus .dropdown-content {
  display: block;
}
/* ---------- */
/* Navbar Mobile Development  */

.topnav .mobile_menu_hide {
  display: none;
}

.mobile_menu_show, .mobile_menu_show a {
  width: 100%;
  transition: 0.4s;
  display: inline-block;
  float: none !important;
}

.mobile_active {background-color: #4bb1f5;}

.mobile_active:hover {background-color: #0698fa !important;}


/* ------------- */

.menu_links {
  text-decoration: none;
  background-color:rgba(66, 66, 66, 0.4);
  padding: 20px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.menu_links:hover {
  text-decoration: none;
  padding: 20px;
  color: black;
  border: 2px solid white;
  background-color:rgba(66, 66, 66, 0.2);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

#menu h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 70px;
}

#wrapper_home {
  margin-top: 5%;
  text-align: center;
}

#wrapper_home h2 {
  /*color: black;*/
  float: left;
  font-weight: 100;
  font-size: 20px;
}

/* ----------- */

/* grades.html */

/* Navigation-Bar */

#nav {
  text-align: center;
}

li {
  float: center;
  visibility: visible;
}

.active {
  background-color: red;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 47.7%;
  padding-right: 47.7%;
  border: none;
  cursor: pointer;
}

#dropdown {
  background-color: rgba(86, 91, 95, 0.7);
  display: none;
}

#dropdown a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid black;
  border-bottom: 0px;
}

#dropdown a:hover {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid white;
  border-bottom: 1px;
}

#dropdown a:hover ~ #dropdown {
  background-color: none;
}

.unneccessary {
  background-color: var(--dropdown-unneccessary-bg);
}


/* ---------------------------- */



/* Subject Template */
#wrapper_show, #wrapper_add {
  margin-top: 10%;
  text-align: center;
  /*background-color: rgba(86, 91, 95, 0.7); 
  padding: 100px 0;
  */
}

#wrapper_show h2, #wrapper_add h2 {
  /*color: black;*/
  float: left;
  font-weight: 100;
  font-size: 20px;
}

table {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}


th, td {
  border: var(--border-outline);
  padding: 8px;
}

table tr:nth-child(even){
  background-color: var(--even-child-bg);
}

table tr:hover {
  background-color: var(--hover-bg);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--header-bg);
  color: white;
}

table .edit-td {
  width: 60px;
  padding: 0px;
}
.edit-td button {
  background: none;
  border: none;
  margin: 0 8px 0 8px;
  padding: 0px;
}

.subj_row_foot, .home_row_foot {
  background-color: var(--row-foot-bg) !important;
}

.td_points, .td_avg {
  background-color: var(--row-points-avg) !important;
}


.td_avg_desc, .td_points_desc {
  text-align: left;
}

.none {
  background-color: var(--none-color) !important;
  /*border: none !important;*/ 
  border-bottom-color: var(--none-color) !important;
  border-left-color: var(--none-color) !important;
}

.ungenügend {
  color: red;
  background-color: #d9f0ff !important;
}


/* ---------------------- */
/** grade_upload.html **/

.uploaded {
  color: white;
}

#upload_menu {
  text-align: center;
  background-color:rgba(66, 66, 66, 0.4);
  border: 2px double black;
  border-radius: 10px;
  padding: 100px;
  padding-top: 50px;
  margin: 0 auto;
  margin-top: 20%;
  width: 50%;
}
/* Grade Add - Button */

/** Button Effects**/
.grade_btn {
  border-radius: 4px;
  background-color: var(--grade-button-bg);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 151.43px;
  height: 42.4px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: right;
}

.grade_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.grade_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.grade_btn:hover span {
  padding-right: 25px;
}

.grade_btn:hover span:after {
  opacity: 1;
  right: 0;
}

.update_btn {
  border-radius: 4px;
  background-color: var(--grade-button-bg);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 3px;
  height: inherit;
  width: inherit;
  cursor: pointer;
  margin: 0;
}

/* Update Grade (Material Icon) */

.md-edit {
  color: var(--color-edit-icon);
}

/* Erfolreiche Hochladung */

.uploaded {
  color: rgb(46, 182, 4);
  text-align: center;
  padding-top: 0.75%;
  font-size: 20px;
}


/* ---------------------- */

/** calculator.html **/

#calc_wrapper {
  margin-top: 5%;
}

#calc_wrapper h2 {
  margin: 2rem 0rem 1.5rem;
}

#calc_wrapper h3 {
  font-weight: 500;
  margin: 1rem 0rem;
}

#calc_wrapper select {
  margin: 0.25rem 0rem 1.25rem;
}

/** Button Effects**/
.calc_btn {
    border-radius: 4px;
    background-color: var(--grade-button-bg);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 151.43px;
    height: 38px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 0px;
    float: right;
  }
  
  .calc_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .calc_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .calc_btn:hover span {
    padding-right: 25px;
  }
  
  .calc_btn:hover span:after {
    opacity: 1;
    right: 0;
  }

/** Add Button **/

.add_btn {
    background-color: rgba(75, 177, 245, 0.4);
    color: white;
    width: 178.83333333333px;
    height: 38px;
    float: left;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.add_btn:hover {
  background-color: var(--add-button-bg);
}

/* Div */

.wrapper {
  padding-left: 4%;
  padding-right: 4%;
}

#gradeDiv {
  width: 100%;
}

/* Table */

#inputTable {
  background-color: rgba(182, 181, 181, 0.6);
  margin: 20px auto;
  width: 100%;
  text-align: center;
  color: white;
  border: 1px solid black;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

#inputTable input {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 99%;
  height: 38px;
  margin: 0;
  border: none;
}

#inputTable tr {
  background-color: var(--main-bg);
}

#inputTable td {
  padding: 0px;
  height: 40px;
  color: var(--main-font-color);
}

#inputTable .subjdata {
  background-color: var(--subjdata-bg-color);
  color: black;
  opacity: 0.7;
}

.average {
  color: black;
  display: none;
}

#calc_avg_desc {
  text-align: left;
  background-color: var(--calc-avg-desc) !important;
  color: black;
}
#calc_avg_desc p {
  margin: 0;
  padding-left: 80px;
  font-weight: 600;
}

#calc_avg_grade {
  color: black;
  background-color: var(--calc-avg) !important;
  font-weight: 600;
}

/* Add Grade Table */
#subj_table {
  width: 100%;
  margin: 10px auto;
}

/* Update Grade Table */
.update_row input {
  min-width: 10px;
  max-width: 90%;
  width: 90%;
}

.update_row td {
  min-width: 10px;
  max-width: 100%;
}
/* Media Queries */

/* Navbar */
@media screen and (max-width: 718px) {
  .topnav a, .user, .logout, .dropdown .dropbtn {
    padding: 20px 12px;
  }
}

@media screen and (max-width: 640px) {
  .topnav a, .user, .logout, .dropdown .dropbtn {
    padding: 16px 12px;
  }
  .dropdown-content {
    margin-top: 50px;
  }
}

@media screen and (max-width: 580px) {
  .topnav a, .user, .logout, .dropdown .dropbtn {
    padding: 16px 7px;
  }
}

@media screen and (max-width: 520px) {
  .topnav a, .user, .logout, .dropdown .dropbtn {
    padding: 16px 12px;
  }
  .topnav .active_nav {
    display: block;
  }

  .topnav .active {
    width: 53.3px;
    height: 50.4px;
    padding-top: 14px !important;
    background-color: #333 !important;
  }

  .topnav #nav_arrow {
    margin: 0;
  }

  .topnav #dropdown_arrow {
    color: white;
    width: 0px;
    vertical-align: middle;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown .dropbtn {
    width: 100%;
    text-align: center;
    padding: 11.25px 0px 11.25px 12px;

  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: rgb(80, 80, 80);
    /*background-color: #f9f9f9; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0px;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(216, 215, 215);
    padding: 10px 12px;
    text-decoration: none;
    border: 1px #333 solid;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover, .dropdown-content a:active {
    background-color: rgb(151, 151, 151);

  }

}
/* ------------- */

/* Calendar Menu */

#cal_wrapper {
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
}

#cal_wrapper h2 {
  font-weight: 500;
}

#cal_wrapper p {
  font-size: 17px;
}

.cal_form {
  margin-top: 4rem;
}

.cal_form label {
  margin: 20px 5px 10px 5px;
  font-size: 14px;
  display: block;
}

.cal_form input {
  background-color: var(--cal-form-bg);
  color: var(--cal-form-font-color);
  padding:10px;
  width: 15rem;
  margin:10px 0;
  border: none;
  box-shadow: var(--cal-form-box-shadow);
}

.cal_btn {
  display: block;
  margin-top: 30px;
  border-radius: 4px;
  background-color: var(--grade-button-bg);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  width: 150px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.cal_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cal_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.cal_btn:hover span {
  padding-right: 25px;
}

.cal_btn:hover span:after {
  opacity: 1;
  right: 0;
}


/* ------------------- */

/* Home (& some Subject) Table Media Query Styles */

@media screen and (max-width: 485px) {
  table {
    width: 100%;
  }

  .wrapper {
    padding-left: 2px !important;
  }

  #home_grades {
    margin-left: 0;
  }

  /* Calendar Menu */

  #cal_wrapper {
    text-align: center;
  }

  .cal_btn {
    margin: 0 auto;
    margin-top: 30px;
  }

}

@media screen and (max-width: 460px) {
  table, tr, #subj_row1_update {
    margin: 0px auto;
  }

  th, td {
    max-width: 200px !important;
    padding: 6px;
    text-overflow: ellipsis;
  }

  .wrapper {
    padding: 6px !important;
  }
}

@media screen and (max-width: 430px) {
  table, tr, #subj_row1_update {
    margin: 0px auto;
  }

  th, td {
    max-width: 150px !important;
    padding: 4px;
  }

  .wrapper {
    padding: 5px !important;
  }

}

/* ---------------------- */ 

/* Add Grade Table */

@media screen and (max-width: 685px) {
  #subj_table_add input, #subj_row1_update input{
    width: 90%;
  }
}

@media screen and (max-width: 440px) {
  #calc_avg_desc p {
    margin: 0;
    padding-left: 40px;
    font-weight: 600;
  }
}

@media screen and (max-width: 380px) {
  #subj_table_add input {
    width: 70%;
  }

  #subj_table_add th, #subj_table_add td {
    max-width: 90px !important;
  }
}

/* 
To-Do
  - Styling for grade changing table
*/

/* Subject Table (& Add Grade Table)*/

@media screen and (max-width: 400px) {
  #row_head, #row_head_add {
    font-size: 14px;
  }

  #subj_table tbody, #subj_table_add tbody, #subj_table tfoot {
    font-size: 12px;
  }

  .edit-td button {
    margin: 0px;
    display: inline-block;
  }

}

/* Subject Update Table */

@media screen and (max-width: 511px) {
  .update_row td {
    padding: 2px;
  }

}

@media screen and (max-width: 485px) {
  #subj_row1_update input{
    width: 70%;
  }

  .update_row td {
    max-width: 90px !important;
  }

  .update_btn {
    font-size: 10px;
    width: min-content;
  }
}

@media screen and (max-width: 380px) {
  #subj_table th, #subj_table td {
    padding: 2px;
  }
  #th_date {
    max-width: 70px !important;
  }
  .subj_date {
    width: 60% !important;
  }
}

/* --------------------------- */


/* React Big Calender Override */
.rbc-event-allday {
  background-color: rgb(153, 0, 0) !important;
}

.rbc-agenda-table {
  margin: auto;
}

.rbc-agenda-view {
  flex: 0 auto;
}

@media screen and (max-width: 635px) {
  .rbc-toolbar button {
    padding: 0.1875rem 0.5rem;
  }
}

@media screen and (max-width: 520px) {
  .rbc-btn-group {
    flex: 100%;
    display:table;
    margin: 10px auto 10px auto;
  }
  .rbc-toolbar button {
    padding: 0.28125rem 0.75rem;
  }

  .rbc-toolbar-label {
    flex: 100%;
  }
}

@media screen and (max-width: 395px) {
  .rbc-agenda-table td, .rbc-agenda-table th {
    font-size: 14px;
  }
}

/* Calendar & Calculator */
@media screen and (max-width: 361px) {
  .rbc-agenda-table td, .rbc-agenda-table td {
    font-size: 12px;
  }

  .calc_btn, .add_btn {
    margin: 0;
  }
}

/* Color Themes */

/* Light theme (default) */

/* Home & Subject Color Scheme */
body {
  --main-bg: white;
  --main-font-color: black;
}

.dropdown-content {
  --dropdown-bg: #f9f9f9;
  --dropdown-font-color: black;
  --dropdown-hover-bg: #ddd;
  --dropdown-unneccessary-bg: rgba(255, 255, 255, 0.3);
}

th, td {
  --border-outline: 1px solid #ddd; 
  --header-bg: #4bb1f5;
}

table {
  --even-child-bg: #f2f2f2;
  --hover-bg: #ddd;
}

.none {
  --none-color: white;
}

.subj_row_foot, .home_row_foot {
  --row-foot-bg: #eaf7ff;
}

.td_points, .td_avg {
  --row-points-avg: #d9f0ff;
}

.md-edit {
  --color-edit-icon: black;
}

/* Add Grade Color Styling */

button {
  --grade-button-bg: #3ea4f8;
}

/* Calculator Color Styling */

.add_btn {
  --add-button-bg: #4bb1f5;
}

#inputTable td {
  --calc-avg-desc: #eaf7ff;
  --calc-avg: #d9f0ff;
}

#inputTable .subjdata {
  --subjdata-bg-color: rgba(255, 255, 255, 0.6); 
}

.cal_form input {
  --cal-form-bg: #fbfbfb;
  --cal-form-font-color: black;
  --cal-form-box-shadow: 0 0 10px 2px rgba(0,0,0,0.09);
}

/* Dark theme */

body[data-theme="dark"] {
  --main-bg: #1f1f1f;
  --main-font-color: white;
}

[data-theme="dark"] .dropdown-content {
  --dropdown-bg: #060606;
  --dropdown-font-color: white;
  --dropdown-hover-bg: #2e2e2e;
  --dropdown-unneccessary-bg: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] th, [data-theme="dark"] td {
  --border-outline: 1px solid black; 
  --header-bg: #0a5fb4;
}

[data-theme="dark"] table {
  --even-child-bg: #0d0d0d;
  --hover-bg: #2e2e2e;
}

[data-theme="dark"] .none {
  --none-color: #1f1f1f;
}
[data-theme="dark"] .subj_row_foot, [data-theme="dark"] .home_row_foot {
  --row-foot-bg: #000f15;
}
  
[data-theme="dark"] .td_points, [data-theme="dark"] .td_avg {
  --row-points-avg: #001126;
}

[data-theme="dark"] .md-edit {
  --color-edit-icon: white;
}


/*Add Grade Color Styling*/ 

[data-theme="dark"] td input, [data-theme="dark"] select {
  color: white;
  background-color: #313131;
  border: 1px solid #575757;
}

[data-theme="dark"] button {
  --grade-button-bg: #0a5eb3;
}


/* Calculator Styling */ 

[data-theme="dark"] .add_btn {
  --add-button-bg: #0c67c2;
}

[data-theme="dark"] #inputTable td {
  --calc-avg-desc: #000f15;
  --calc-avg: #001126;
}

[data-theme="dark"] #inputTable .subjdata {
  --subjdata-bg-color: rgba(255, 255, 255, 0.01); 
}

/* Calendar Styling */ 

[data-theme="dark"] .cal_form input {
  --cal-form-bg: #040404;
  --cal-form-font-color: white;
  --cal-form-box-shadow: 0 0 10px 2px rgba(255,255,255,0.09);
}

[data-theme="dark"] .rbc-off-range-bg {
  background: #363636;
}

[data-theme="dark"] .rbc-today {
  background-color: #022b3a;
}

[data-theme="dark"] .rbc-toolbar button {
  color: #c8c5c3;
}

[data-theme="dark"] .rbc-toolbar button.rbc-active {
  background-color: #474747;
}

[data-theme="dark"] .rbc-toolbar button.rbc-active:hover, [data-theme="dark"] .rbc-toolbar button.rbc-active:focus {
  background-color: #3b3b3b;
  color: #c8c5c3;
}

[data-theme="dark"] .rbc-toolbar button:hover, [data-theme="dark"] .rbc-toolbar button:focus {
  background-color: #3b3b3b;
  color: #c8c5c3;
}

/* Dark theme */
/*
@media (prefers-color-scheme: dark) {

  // Home & Subject Color Scheme 
  body {
    --main-bg: #1f1f1f;
    --main-font-color: white;
  }

  .dropdown-content {
    --dropdown-bg: #060606;
    --dropdown-font-color: white;
    --dropdown-hover-bg: #2e2e2e;
    --dropdown-unneccessary-bg: rgba(0, 0, 0, 0.3);
  }

  th, td {
    --border-outline: 1px solid black; 
    --header-bg: #0a5fb4;
  }

  table {
    --even-child-bg: #0d0d0d;
    --hover-bg: #2e2e2e;
  }

  .none {
    --none-color: #1f1f1f;
  }
  .subj_row_foot, .home_row_foot {
    --row-foot-bg: #000f15;
  }
  
  .td_points, .td_avg {
    --row-points-avg: #001126;
  }

  .md-edit {
    --color-edit-icon: white;
  }


  //Add Grade Color Styling 

  td input, select {
    color: white;
    background-color: #313131;
    border: 1px solid #575757;
  }

  button {
    --grade-button-bg: #0a5eb3;
  }


  // Calculator Styling 

  .add_btn {
    --add-button-bg: #0c67c2;
  }

  #inputTable td {
    --calc-avg-desc: #000f15;
    --calc-avg: #001126;
  }

  // Calendar Styling 

  .cal_form input {
    --cal-form-bg: #040404;
    --cal-form-font-color: white;
    --cal-form-box-shadow: 0 0 10px 2px rgba(255,255,255,0.09);
  }

  .rbc-off-range-bg {
    background: #363636;
  }

  .rbc-today {
    background-color: #022b3a;
  }

  .rbc-toolbar button {
    color: #c8c5c3;
  }

  .rbc-toolbar button.rbc-active {
    background-color: #474747;
  }

  .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
    background-color: #3b3b3b;
    color: #c8c5c3;
  }

  .rbc-toolbar button:hover, .rbc-toolbar button:focus {
    background-color: #3b3b3b;
    color: #c8c5c3;
  }
}
*/