html { 
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.main-body {
  margin: 0;
  padding: 0;
}

/* Login CSS */
/*Import Roboto Font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*html, body { margin: 0 !important; padding: 0 !important}*/

.login-page {
  width: 360px;
  padding: 9% 0 0;
  font-family: "Roboto", sans-serif;
  margin: auto;
}

.title {
    padding-bottom: 10px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-top: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#43b1fa;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-button:hover,.form-button:active,.form-button:focus {
  background:#0698fa;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #016fff;
  text-decoration: none;
}
.form .message a:hover {
    cursor: pointer;
}

.formchange-button {
  font-family: "Roboto", sans-serif;
  color: #016fff;
  font-size: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.formchange-button:hover,
.formchange-button:focus {
  cursor: pointer;
}
/*
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
*/
.registered {
  color: rgb(46, 182, 4);
}

.failed {
  color: red;
}

/* Grade Upload */
.menu_btn_upload {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:white;
  text-decoration: none;
  width: 100%;
  border: 2px solid #43b1fa;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.menu_btn_upload:hover,.menu_btn_upload:active,.menu_btn_upload:focus {
  background:#0698fa;
  color: #FFFFFF;
}

.login-body {
  margin: 0;
  background: #d9f0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #d9f0ff, #9ed8ff);
  background: -moz-linear-gradient(right, #d9f0ff, #9ed8ff);
  background: -o-linear-gradient(right, #d9f0ff, #9ed8ff);
  background: linear-gradient(to left, #d9f0ff, #9ed8ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/*html, body { margin: 0 !important; padding: 0 !important}*/

/** index.html (Home) **/

/* Navigation Bar */
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.topnav {float: none;}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgba(0,0,0,0.2);
}


.user, .logout {
  float: right !important; 
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

.user:hover {
  background-color: #333 !important;
  cursor: default;
}

.user-p {
  background-color: transparent;
  color: #4bb1f5 !important;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

.link-button:hover, .link-button:focus {
  background-color: rgba(0,0,0,0.2);
  text-decoration: none;
}

.topnav a.active {background-color: #4bb1f5;}

.topnav button.active {
  background-color: #4bb1f5;
  float: left;
  padding: 16px 12px;
}

.topnav a.active:hover {background-color: #0698fa;}


@media screen and (max-width: 600px) {
  .topnav .right, 
  .topnav {float: none;}
}

#menu {
  text-align: center;
  background-color:rgba(66, 66, 66, 0.2);
  border: 2px double black;
  border-radius: 10px;
  padding: 100px;
  padding-top: 50px;
  margin: 0 auto;
  margin-top: 20%;
  width: 50%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .dropdown {
  padding-top: 60px;
}
/* -------------------------- */

/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 22px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 58.4px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 20px 22px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content, .dropdown:focus .dropdown-content {
  display: block;
}
/* ---------- */
/* Navbar Mobile Development  */

.topnav .mobile_menu_hide {
  display: none;
}

.mobile_menu_show, .mobile_menu_show a {
  width: 100%;
  transition: 0.4s;
  display: inline-block;
  float: none !important;
}

.mobile_active {background-color: #4bb1f5;}

.mobile_active:hover {background-color: #0698fa;}


/* ------------- */

.menu_links {
  text-decoration: none;
  background-color:rgba(66, 66, 66, 0.4);
  padding: 20px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.menu_links:hover {
  text-decoration: none;
  padding: 20px;
  color: black;
  border: 2px solid white;
  background-color:rgba(66, 66, 66, 0.2);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

#menu h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 70px;
}

#wrapper_home {
  margin-top: 5%;
  text-align: center;
}

#wrapper_home h2 {
  color: black;
  float: left;
  font-weight: 100;
  font-size: 20px;
}

/* ----------- */

/* grades.html */

/* Navigation-Bar */

#nav {
  text-align: center;
}

li {
  float: center;
  visibility: visible;
}

.active {
  background-color: red;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 47.7%;
  padding-right: 47.7%;
  border: none;
  cursor: pointer;
}

#dropdown {
  background-color: rgba(86, 91, 95, 0.7);
  display: none;
}

#dropdown a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid black;
  border-bottom: 0px;
}

#dropdown a:hover {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid white;
  border-bottom: 1px;
}

#dropdown a:hover ~ #dropdown {
  background-color: none;
}

.unneccessary {
  background-color: rgba(255, 255, 255, 0.3);
}


/* ---------------------------- */



/* Subject Template */
#wrapper_show, #wrapper_add {
  margin-top: 10%;
  text-align: center;
  /*background-color: rgba(86, 91, 95, 0.7); 
  padding: 100px 0;
  */
}

#wrapper_show h2, #wrapper_add h2 {
  color: black;
  float: left;
  font-weight: 100;
  font-size: 20px;
}

table {
  margin: 10px auto;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}


th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4bb1f5;
  color: white;
}

table .edit-td {
  width: 60px;
  padding: 0px;
}
.edit-td button {
  background: none;
  border: none;
  margin: 0 8px 0 8px;
  padding: 0px;
}

.subj_row_foot, .home_row_foot {
  background-color: #eaf7ff !important;
}

.td_points, .td_avg {
  background-color: #d9f0ff !important;
}


.td_avg_desc, .td_points_desc {
  text-align: left;
}

.none {
  background-color: white !important;
  /*border: none !important;*/ 
  border-bottom-color: white !important;
  border-left-color: white !important;
}

.ungenügend {
  color: red;
  background-color: #d9f0ff !important;
}


/* ---------------------- */
/** grade_upload.html **/

.uploaded {
  color: white;
}

#upload_menu {
  text-align: center;
  background-color:rgba(66, 66, 66, 0.4);
  border: 2px double black;
  border-radius: 10px;
  padding: 100px;
  padding-top: 50px;
  margin: 0 auto;
  margin-top: 20%;
  width: 50%;
}
/* Grade Add - Button */

/** Button Effects**/
.grade_btn {
  border-radius: 4px;
  background-color: #3ea4f8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 151.43px;
  height: 42.4px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: right;
}

.grade_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.grade_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.grade_btn:hover span {
  padding-right: 25px;
}

.grade_btn:hover span:after {
  opacity: 1;
  right: 0;
}

.update_btn {
  border-radius: 4px;
  background-color: #3ea4f8;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 3px;
  height: inherit;
  width: inherit;
  cursor: pointer;
  margin: 0;
}

/* Erfolreiche Hochladung */

.uploaded {
  color: rgb(46, 182, 4);
  text-align: center;
  padding-top: 0.75%;
  font-size: 20px;
}


/* ---------------------- */

/** calculator.html **/
/** Button Effects**/
.calc_btn {
    border-radius: 4px;
    background-color: #3ea4f8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 151.43px;
    height: 42.4px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    float: right;
  }
  
  .calc_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .calc_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .calc_btn:hover span {
    padding-right: 25px;
  }
  
  .calc_btn:hover span:after {
    opacity: 1;
    right: 0;
  }

/** Add Button **/

.add_btn {
    background-color: rgba(75, 177, 245, 0.4);
    color: white;
    width: 178.83333333333px;
    height: 38px;
    float: left;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.add_btn:hover {
  background-color: rgba(75, 177, 245, 1);
}

/* Div */

.wrapper {
  padding-left: 4%;
  padding-right: 4%;
}

#gradeDiv {
  width: 100%;
}

/* Table */

#inputTable {
  background-color: rgba(182, 181, 181, 0.6);
  margin: 20px auto;
  width: 100%;
  text-align: center;
  color: white;
  border: 1px solid black;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

#inputTable input {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 99%;
  height: 38px;
  margin: 0;
  border: none;
}

#inputTable tr {
  background-color: white;
}

#inputTable td {
  padding: 0px;
  height: 40px;
}

#inputTable .subjdata {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  opacity: 0.7;
}

.average {
  color: black;
  display: none;
}

#calc_avg_desc {
  text-align: left;
  background-color: #eaf7ff !important;
  color: black;
}
#calc_avg_desc p {
  margin: 0;
  padding-left: 80px;
  font-weight: 600;
}

#calc_avg_grade {
  color: black;
  background-color: #d9f0ff !important;
  font-weight: 600;
}

/* Add Grade Table */
#subj_table {
  width: 100%;
  margin: 10px auto;
}

/* Media Queries */

/* Navbar */

@media screen and (max-width: 551px) {
  .topnav a, .user, .logout, .dropdown .dropbtn {
    padding: 16px 12px;
  }
  .dropdown-content {
    margin-top: 51px;
  }
}

@media screen and (max-width: 480px) {

  .topnav .active_nav {
    display: block;
  }

  .topnav .active {
    width: 53.3px;
    height: 50.4px;
    padding-top: 14px !important;
    background-color: #333 !important;
  }

  .topnav #nav_arrow {
    margin: 0;
  }

  .topnav #dropdown_arrow {
    color: white;
    height: 0px;
    width: 0px;
  }

  .dropdown {
    width: 100%;
  }

  .dropdown .dropbtn {
    width: 100%;
    text-align: center;
    padding: 11.25px 0px 11.25px 12px;

  }

  .dropdown-content {
    display: none;
    position: relative;
    background-color: rgb(80, 80, 80);
    /*background-color: #f9f9f9; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0px;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(216, 215, 215);
    padding: 10px 12px;
    text-decoration: none;
    border: 1px #333 solid;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover, .dropdown-content a:active {
    background-color: rgb(151, 151, 151);

  }

}

/* ------------------- */

/* Home (& some Subject) Table Media Query Styles */

@media screen and (max-width: 460px) {
  table, tr {
    margin: 0px auto;
  }

  th, td {
    max-width: 200px !important;
    padding: 6px;
    text-overflow: ellipsis;
  }

  .wrapper {
    padding: 6px !important;
  }
}

@media screen and (max-width: 430px) {
  table, tr {
    margin: 0px auto;
    width: 80%;
  }

  th, td {
    max-width: 150px !important;
    padding: 4px;
  }

  .wrapper {
    padding: 5px !important;
  }

  #home_grades {
    margin-left: 7.5%;
  }
}

@media screen and (max-width: 380px) {
  table {
    width: 100%;
  }

  .wrapper {
    padding-left: 2px !important;
  }

  #home_grades {
    margin-left: 0;
  }

}

/* ---------------------- */ 

/* Add Grade Table */

@media screen and (max-width: 685px) {
  #subj_table_add input{
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  #calc_avg_desc p {
    margin: 0;
    padding-left: 40px;
    font-weight: 600;
  }
}

/* 
To-Do
  - Styling for grade changing table
*/

/* Subject Table (& Add Grade Table)*/

@media screen and (max-width: 400px) {
  #row_head, #row_head_add {
    font-size: 14px;
  }

  #subj_table tbody, #subj_table_add tbody, #subj_table tfoot {
    font-size: 12px;
  }

  .edit-td button {
    margin: 0px;
    display: inline-block;
  }

}
